.header_div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 40px;
}



.body {
    font-family: Inter, sans-serif;
    line-height: 1.5;
    background-color: #F2F5FF;
}

.h1_header {
    text-align: center;
    font-size: 16px;
    margin-bottom: 1px;
}

.p_header {
    padding-top: 4px;
    font-size: 14px;
    margin: 0px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.upload_button {

    all: unset;
    font-size: 20px;
    font-weight: bold;
    color: #ADC0F8;
    cursor: pointer;
}

.images_button {
    all: unset;
    font-size: 20px;
    font-weight: bold;
    color: #0060FF;
    cursor: pointer;
}

.upload_button:hover {
    color: #638aff
}

.upload_button:active {
    color: #638aff
}

.images_button:hover {
    color: #638aff
}

.images_button:active {
    color: #638aff
}