.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 40px;
}



.body {
    background-color: rgb(21, 21, 21);
    font-family: Inter, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.5;
}

.h1_header {
    text-align: center;
    font-size: 16px;
    margin-bottom: 1px;
}

.p_header {
    padding-top: 4px;
    font-size: 14px;
    margin: 0px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

#header_button {
    -webkit-appearance: none;
    appearance: none;

    text-transform: uppercase;
    padding: 12px 16px;
    font-size: 12px;
    background-color: rgb(0, 96, 255);
    color: rgb(255, 255, 255);
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.img {
    width: 426px;
    height: 559px;
    object-fit: cover;
}


#header_button:hover {
    background-color: rgb(0, 80, 220);
}

#header_button:active {
    background-color: rgb(0, 60, 180);
    transform: translateY(1px); /* ефект "натискання" */
}
